* {
    
}

.topbar {
   color: black;
   background-color: lightgray;
   font-family: 'Times New Roman', Times, serif;
   

}

header h1{
    text-align: center;
    background-color: lightgray;
    padding: 10px 20px;
    
}

header h4{
    color: white;
    text-align: center;
    background: linear-gradient(70deg, blue, pink);
    opacity: .75;
    
    padding: 10px 100px;
    margin: 30px 300px;
    
    
}

.projects {
    background-color: gray;
    padding: 10px;
}

.projects h2 {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    margin: 0px;
}

.projects ul {
    background-color: lightgray;
    padding: 10px 20px;
    
}

.projects .projectsNav h3 {

    border: border-box;
    text-align: center;
    background-color:cadetblue;
    padding: 20px 50px;
    width: 150px;
    height: 300px;
    margin: 30px auto;
    display: inline-block;
}
