*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

/*------------- Top navigator -----------------------------*/
.topbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding: 15px 100px 15px 15px;
    overflow: hidden;
    text-align: center;

}

.topbar a{
    left: 25%;
    display: inline-block;
    text-decoration: none;
    margin: 0px 35px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-bottom: solid 2px black;

}

.topbar a:hover {
    border-bottom: solid 2px rgb(142, 61, 61);
}

/*------------- Welcome section -----------------------------*/

.heading-cont {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.2), 
                rgba(0, 0, 0, 0.2) ), url('./images/greengrass.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;
    height:auto;
    padding: 10px;
    align-items: center;
}

.intro {
    margin: auto;
    position: relative;
    top: 20%;
    width: 50%;
    opacity: .90;

}

.intro h2 {
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
}

.intro p {
    padding-top: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}



/*-------------  About and skills section  -----------------------------*/
.mid-container {
    display: grid;
    height: auto;
    min-height: 350px;
    grid-template-columns: 3fr 2fr;
    background-color: #536b63ba;

}

.mid-container div {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    color: black;
    padding: 5px;
}

.about {
    border-right: solid 5px white;

}
.skills {
    border-left: solid 5px white;
}

.about h2, .skills h2 {
    text-align: center;
    font-weight: bold;
    padding: 14px;

}

.about p {
    width: 70%;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
    overflow: hidden;
    
}
.skills-list {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    line-height: 3em;
    padding-left: 20px;

}

.skills-list li {
    list-style-type: square;
}

.resume-btn {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
}

.resume-btn:hover {
    color: white;
    background-color: rgb(142, 61, 61);
    cursor: pointer;
}

.resume-btn:active{
    opacity: 70%;
}


/*------------- Projects Section -----------------------------*/

.projects-cont {
    border: solid 3px blue;
    box-sizing: border-box;
    height: auto;
    background-color: beige;
}

.projects-cont h2 {
    font-size: 1.8em;
    margin: 8px auto;
    border: solid 1px black;
    text-align: center;

}

.card-holders {
    display: grid;
    box-sizing: border-box;
    grid-gap: 1.5rem;
    border: solid 1px red;
    padding: 1rem 3rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem,1fr));
    height: fit-content;
    width: 75%;
    margin: auto;
    overflow: auto;
}

.p-card {
    background-color: lightgray;
    padding: 10px;
    min-height: 350px;
    height: auto;
    border: solid 3px black;
    border-radius: 10px;
    margin-top: 5px;
}

.p-card:hover {
    margin-top: 0px;
    background-color: rgb(249, 249, 249);
    margin-bottom: 5px;

}

.p-card h3 {
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    border: solid 3px black;
}

.p-card p {
    padding: 15px 5px;
    font-size: 1.1em;
    border: solid 3px black;
    margin: 5px 0px;
    line-height: 1.5;
}

#tools {
    text-align: center;
    font-size: .9em;
    position: relative;
}

.pblur {
    filter:blur(3px);
}


/*------------- Footer Sections -----------------------------*/

footer p {
    text-align: center;
    font-size: 12px;
    border: solid 1px black;
    padding: 10px;
}




/*------------- Web Responsive-----------------------------*/
/* Nav responsive phones */
@media only screen and (max-width: 425px){
    .topbar a:not(:first-child) {display: none;}
    .topbar {display: block;}
    .heading-cont{height: 390px}
    .intro {width: 95%; font-size: .9em;}
    .intro h2 {font-size: 2.5rem;}


    .mid-container{grid-template-columns: 1fr;}
    .about{ border-bottom: solid 3px white; border-right: none; }
    .about p{width: 93%; line-height: 1.4em;}
    .skills{border-left: none;}
    .skills-list{line-height: 1.5em; padding-left: 10px;}

    .card-holders{width: 95%; padding: 1.5rem;}
    .p-card {padding: 2px; min-height: 0;} 
    .p-card h3{font-size: 1em; }
    .p-card p{font-size: 1em;}
}

@media only screen and (max-width:500px){
    .card-holders{ grid-template-columns: 1fr;}

}


/* Nav responsive tablets */





