* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    

}

/*------------- Top navigator -----------------------------*/
.topbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(249, 249, 249);
    padding: 15px 100px 15px 15px;
    overflow: hidden;
    text-align: center;

}

.topbar a {
    left: 25%;
    display: inline-block;
    text-decoration: none;
    margin: 0px 35px;
    font-size: 15px;
    color: black;
    padding: 10px;
    border-bottom: solid 2px rgba(249, 249, 249);
}
.topbar a:hover {
    border-bottom: solid 2px rgb(142, 61, 61);
}

/*------------- Welcome section -----------------------------*/

.heading-cont {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('./images/astronaut.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;
    height: auto;
    padding: 10px;
    align-items: center;
}

.intro {
    margin: auto;
    position: relative;
    top: 20%;
    width: 50%;
    opacity: .90;

}

.intro h2 {
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

.intro p {
    padding-top: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}



/*-------------  About and skills section  -----------------------------*/
.mid-container {
    height: auto;
    margin: 10px;
    min-height: 350px;
    grid-gap: 10px;
    text-align: center;
    
}

.mid-container h2 {
    font-size: 1.8em;
    font-weight: bold;
    
}

.mid-container div {
    box-sizing: border-box;
    margin: 10px auto;
    width: 100%;
    color: black;
    padding: 5px;
    width: 75%;
    background-color: #dbe0e4;
    border: solid 2px #dbe0e4;
    border-radius: 25px;
    opacity: .85;
    
}

.about {
    border-right: solid 5px #dbe0e4;

}

.info-align {
    width: 70%;
    border: solid 1px black;
}

.about p {
    box-sizing: border-box;
    font-size: 1.1em;
    line-height: 1.5;
    overflow: hidden;
    text-align: justify;

}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    box-sizing: border-box;
    padding: 5px;
    
}

.skills-list li {
    list-style-type: square;
    padding: none;
}

.resume-btn {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
}

.resume-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.resume-btn:active {
    opacity: 70%;
}


/*------------- Projects Section -----------------------------*/

.projects-cont {
    box-sizing: border-box;
    height: auto;
    background-color: white;
}

.projects-cont h2 {
    font-size: 1.8em;
    text-align: center;
}

.card-holders {
    display: grid;
    box-sizing: border-box;
    grid-gap: 1.5rem;
    padding: 1rem 3rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    height: fit-content;
    width: 75%;
    margin: auto;
    overflow: auto;
}

.p-card {
    background-color: #dbe0e4;
    padding: 10px;
    min-height: 350px;
    height: auto;
    border: solid 3px #dbe0e4;
    border-radius: 10px;
    margin-top: 5px;
    opacity: .85;

}

.p-card:hover {
    margin-top: 0px;
    background-color: dbe0e4;
    margin-bottom: 5px;
    box-shadow: 10px 5px 5px black;

}

.p-card h3 {
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
}

.p-card p {
    padding: 15px 5px;
    font-size: 1.1em;
    margin: 5px 0px;
    line-height: 1.5;
}

#tools {
    text-align: center;
    font-size: .9em;
    position: relative;
}

.pblur {
    filter: blur(3px);
}

.btn-holder{
    text-align: center;
    padding: 10px;
}
.project-btn {
    margin: 0 auto;
    font-size: 1.1em;
    padding: 5px 15px;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;

}

.project-btn:hover {
    background-color:black;
    color: white;
    cursor: pointer;
}

.project-btn:active {
    font-size: 1.2em;
}


/*------------- Footer Sections -----------------------------*/

footer p {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}




/*------------- Web Responsive-----------------------------*/
/* Nav responsive phones */
@media only screen and (max-width: 425px) {

    * p,
    li { font-size: .9rem;}
    .topbar {display: none;}

    .heading-cont {height: auto;}
    .intro h2 {font-size: 2.5rem; padding-top: none;}
    .intro {width: 95%; font-size: .8em;}

    .mid-container { grid-template-columns: 1fr; width: 100%; grid-gap: 0;}
    .about {border-bottom: solid 3px white; border-right: none;}
    .about p {width: 93%; line-height: 1.4em; font-size: .9em;}

    
    .skills-list {line-height: 1.5em; padding-left: 1px;}
    .card-holders {width: 95%; padding: 1.5rem;}
    .p-card {padding: 2px; min-height: 0;}
    .p-card h3 {font-size: 1em;}
    .p-card p {font-size: 1em;}
}

@media only screen and (max-width:500px) {
    .card-holders {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

}


/* Nav responsive tablets */

@media only screen and (min-width:501px) and (max-width:768px) {
    .intro { width: 80%;}
}