*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

/*------------- Top navigator -----------------------------*/
.topbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding: 15px 100px 15px 15px;
    overflow: hidden;
    text-align: center;

}

.topbar a{
    left: 25%;
    display: inline-block;
    text-decoration: none;
    margin: 0px 35px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-bottom: solid 2px black;

}

.topbar a:hover {
    border-bottom: solid 2px rgb(142, 61, 61);
}

/*------------- Welcome section -----------------------------*/

.heading-cont {
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.2), 
                rgba(0, 0, 0, 0.2) ), url('./images/greengrass.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    padding: 10px;
    align-items: center;
}

.intro {
    margin: auto;
    position: relative;
    top: 20%;
    width: 50%;
    opacity: .90;

}

.intro h2 {
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
}

.intro p {
    padding-top: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}



/*-------------  About and skills section  -----------------------------*/
.mid-container {
    display: grid;
    height: 350px;
    grid-template-columns: 3fr 2fr;
    background-color: #536b63ba;
}

.mid-container div {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    color: black;
    padding: 5px;
}

.about {
    border-right: solid 5px rgb(142, 61, 61);

}
.skills {
    border-left: solid 5px rgb(142, 61, 61);
}

.about h2, .skills h2 {
    text-align: center;
    font-weight: bold;
    padding: 14px;

}

.about p {
    width: 70%;
    margin: auto;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
    
    
}
.skills-list {
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    line-height: 3em;
    padding-left: 20px;

}

.skills-list li {
    list-style-type: square;
}

.resume-btn {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: solid 2px black;
}

.resume-btn:hover {
    color: white;
    background-color: rgb(142, 61, 61);
    cursor: pointer;
}

.resume-btn:active{
    opacity: 70%;
}



/*
.about-cont {
    
    
}

.skills-cont {
    background-color: white;
    margin: 0 auto;
    color: black;
    padding: 5px;
    
}
*/

/*------------- Projects Section -----------------------------*/

.projects-cont {
    border: solid 3px blue;
    box-sizing: border-box;
    height: auto;
}

.projects-cont h2 {
    margin: 2px auto;
    border: solid 1px black;
    text-align: center;

}

.card-holders {
    display: grid;
    box-sizing: border-box;
    grid-gap: 2rem;
    border: solid 1px red;
    padding: 1rem 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
}

.p-card {
    background-color: lightgray;
    padding: 10px;
    min-height: 300px;
    height: auto;
    border: solid 3px black;
    border-radius: 10px;
}

.p-card h3 {
    text-align: center;
    padding: 5px;
}