*{
    margin: 0;
    padding: 0;
}

.topbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding: 20px;
    position: stick;
    
    
}
.topbar ul {
    background-color: black;
    
}

.topbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 35px;
    font-size: 15px;
    
}

.menustyle {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: black;
}

.menustyle:hover {
    font-weight: bold;
    border-bottom: solid 2px rgb(142, 61, 61);

}

.heading-container {
    background-color: lightblue;
    height: 300px;

}

.welcome-cont {
    padding: 5px;
    background-color: lightgreen;

}

.mid-container {
    display: grid;
    background-color: green;
    height: 300px;
    grid-template-columns: 2fr 1fr;
}

.about-cont {
    padding: 5px;
    background-color: yellow;
}

.skills-cont {
    padding: 5px;
    background-color: lightsalmon;
    
}