*{
    margin: 0;
    padding: 0;
}

/*------------- Top navigator -----------------------------*/
.topbar {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding: 15px 100px 15px 15px;
    overflow: hidden;
    text-align: center;

}

.topbar a{
    left: 25%;
    display: inline-block;
    text-decoration: none;
    margin: 0px 35px;
    font-size: 15px;
    color: white;
    padding: 10px;
    border-bottom: solid 2px black;

}

.topbar a:hover {
    border-bottom: solid 2px rgb(142, 61, 61);
}

/*------------- Welcome section -----------------------------*/

.heading-cont {
    color: white;
    background-image: url('./images/greengrass.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    padding: 10px;
}
.heading-cont h2 {
    text-align: center;
    position: relative;
    top: 15%;
}

/*.welcome-cont {
    height: 290px;
    padding: 50px 5px;
    width: 90%;
    background-color: lightgreen;
    margin: auto;

}*/


/*-------------  About and skills section  -----------------------------*/
.mid-container {
    display: grid;
    background-color: green;
    height: 300px;
    grid-template-columns: 2fr 1fr;
}


.about-cont {
    padding: 5px;
    background-color: yellow;
}

.skills-cont {
    padding: 5px;
    background-color: lightsalmon;
    
}

/*------------- Projects Section -----------------------------*/

.projects-cont {
    background-color: aquamarine;
    height: 400px;
}