* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
   
}
strong {
    color: #42d765;
}
/*------------- contact bar left ------------------------*/
.sidebar1 {
    position: fixed;
    bottom: 0;
    color: white;
    height: auto; 
}

.sidebar1 ul {
    padding: 190px 10px; 
    text-decoration: none;
}

.sidebar1 ul li {
    padding: 5px; 
    list-style: none;
}
.sidebar1 ul li a {text-decoration: none; color: white;}
 
.sidebar1 ul li a:visited {color: white;}

.fa {
    transition: 0.25s;
}
.fa:hover{
    color: #42d765;
    margin: 0 5px;
}


/*------------- navigator right -----------------------------*/
.sidebar2 {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
}

.sidebar2 ul {
            padding: 200px 20px; 
            text-decoration: none;
            }
.sidebar2 ul li {
    padding: 5px; 
    list-style: none;
}
.sidebar2 ul li a {text-decoration: none; color: white;}
 
.sidebar2 ul li a:visited {color: white;}

.sidebar2 ul li a:hover {
    color: #42d765;
}



/*------------- Welcome section -----------------------------*/

.heading-cont {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('./images/gray-wood-bark.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 350px;
    height: auto;
    padding: 10px;
    align-items: center;
    
}

.intro {
    margin: auto;
    position: relative;
    top: 20%;
    width: 50%;
}

.intro h2 {
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    color: #42d765;
    
    
}

.intro p {
    padding-top: 30px;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: justify;
    
    
}


/*------------------main section----------------------*/
.main-section {
    background-color: rgb(13, 13, 13, 0.95);

}

.align{
    width: 65%;
    margin: 0 auto;
    color: white;
    opacity: .90;
    
}

.about-container h2 {
    padding: 15px;
    text-align: center;
    font-size: 2rem;
}

.about-container p {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.about-container ul {
    margin-left: 15px;
}

.about-container ul li {
    padding: 5px;
}


/*--------------------projects section------------------------*/

#projects-heading {
    text-align: center;
    padding: 15px;
    font-size: 2em;
}
.proj-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 5fr));
    gap: 2rem;
    
}

.p-card {
    border: solid 3px #2bde5869;
    border-radius: 20px;
    min-height: 350px;
    padding: 0px 10px;
    opacity: .90;
    margin-top: 15px;
    transition-duration: .5s;
}

.p-card:hover{
    margin-top: 0px;
    margin-bottom: 15px;
    background-color:#2bde5869;
}

.p-card h3 {
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
}

.p-card p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}

#tools {
    text-align: center;
    font-size: .9em;
    position: relative;
    margin-top: 50px;
}

.pblur {
    filter: blur(3px);
}

.btn-holder{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
.project-btn {
    margin: 0 auto;
    font-size: 1.1em;
    padding: 5px 15px;
    text-align: center;
    border: solid 1px #42d765;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}

.project-btn:hover {
    background-color: #42d765;
    cursor: pointer;
}

/*--------------------- Contact Me --------------------------*/

.contact-section{
    margin-top: 40px;
}

.contact{
    text-align: center;
    padding-bottom: 30px;
    font-size: 2em;
}

.contact-info{
    padding: 0 25px;
    border-left: solid 6px #42d765;
    border-right: solid 6px #42d765;
    border-radius: 15px;
}

.contact-info h4{
    padding: 10px 0;
    font-size: 1.5em;

}

.contact-info p {
    text-align: justify;
    line-height: 2rem;
    padding: 10px 0;
}

.phone{
    display: none;
}
/*-------------------footer---------------*/

.footer {
    font-size: .5em;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 10px 0;
}



/*--------------------animation-----------------*/

.lds-dual-ring {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 35px;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #42d765 transparent;
    animation: lds-dual-ring 10s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .lds-dual-ring2 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 30px;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring2:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #42d765 transparent #fff transparent;
    animation: lds-dual-ring2 10s linear infinite;
  }
  @keyframes lds-dual-ring2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  /*------------- Web Responsive-----------------------------*/
/* Nav responsive phones */
@media only screen and (max-width: 625px){
    .lds-dual-ring{display: none;}
    .lds-dual-ring2{display: none;}
}

/*------------------------------------*/

@media only screen and (max-width: 425px){
    .sidebar1{display: none;}
    .sidebar2{display: none;}

    .intro{width: 90%;}
    .intro h2{font-size: 4em;}
    .intro p{font-size: 1.5em;}

    .align{
        width: 90%;
    }
    .fa{display:none}

}

